<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="3" id="com.vinie4app.busaojf" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Busão JF</name>
    <description>A Quasar Framework app</description>
    <author email="vinie4apps@gmail.com">
      Vinícius da Silva Fortes
    </author>
    <icon density="mdpi" height="57" platform="android" src="../src/assets/icon.png" width="57" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
</widget>
